:root {
    --background-light-gray: #c9dcda;
    --color-gray-0: #becfce;
    --color-gray-1: #b9c8c8;
    --color-gray-2: #b3c1c1;
    --color-cyan-0: #679f9a;
    --color-cyan-1: #3c8780;
    --color-cyan-2: #106f66;
    --color-blue-0: #085d6d;
    --color-blue-1: #045470;
    --color-blue-2: #004b73;
    --color-red-0: #762525;
    --color-red-1: #6e1313;
    --color-red-2: #6b0c0c;
}
