section.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        90deg,
        var(--color-gray-0) 0%,
        var(--color-gray-1) 50%,
        var(--color-gray-2) 100%
    );
}

div.login-container__box {
    font-size: 1.5rem;
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
    max-width: 350px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--background-light-gray);
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.25);
}

fieldset.form-container__sign-in,
fieldset.form-container__sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    gap: 6rem;
}

h2.form-container__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

div.form-container__box {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 1.5rem;
}

div.form-container__box-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form-container__box-input > label {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    cursor: pointer;
}

div.form-container__box-input > label > img,
div.form-container__box-input > button {
    background-color: var(--color-cyan-0);
    border: 1px solid transparent;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: 100ms ease-in;
}

div.form-container__box-input > label > img:hover,
div.form-container__box-input > button:hover {
    background-color: var(--color-cyan-1);
}

div.form-container__box-input > label > img:active,
div.form-container__box-input > button:active {
    background-color: var(--color-cyan-2);
}

div.form-container__box-input > button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 55px;
    min-height: 40px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

div.form-container__box-input > button > img {
    transform: scale(1.5);
    -webkit-user-drag: none;
    user-select: none;
}

div.form-container__box-input > label > img {
    min-width: 55px;
    max-height: 40px;
    -webkit-user-drag: none;
    user-select: none;
}

div.form-container__box-input > input {
    height: 35px;
}

button.generic-btn {
    max-width: 200px;
    max-height: 45px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    color: var(--color-white-0);
    border-radius: 6px;
    background-color: var(--color-black-0);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 4px 4px 10px #00000075;
    transition: 150ms ease-in;
    user-select: none;
    padding: 1.25rem;
    line-height: 1px;
}

button.generic-btn:hover {
    transform: scale(0.95);
    background-color: var(--color-black-1);
}

button.generic-btn:active {
    transform: scale(1);
    background-color: var(--color-black-2);
}

button.signIn-and-signUp {
    cursor: pointer;
    user-select: none;
    background-color: var(--color-blue-0);
    color: var(--color-white-0);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.25rem;
    box-shadow: 4px 4px 10px #00000075;
    transition: 100ms ease-in;
}

button.signIn-and-signUp:hover {
    border-color: var(--color-black-0);
    background-color: var(--color-blue-1);
}

button.signIn-and-signUp:active {
    background-color: var(--color-blue-2);
}

* {
    /*outline: 1px solid red;*/
}

fieldset.form-container__sign-up {
    display: none;
    gap: 2rem;
}
